<h1>Welcome, <%= current_user.email %> </h1>
<%= button_to "New Project", new_project_path, method: :get %>

<% @projects.each do |project| %>
  <ul>
    <li>
      <%= link_to "#{project.title} - #{project.description}", project_path(project.id) %>
    </li>
  </ul>
<% end %>
