<h1><%= @project.title %></h1>
<ul>
  <li>User Permissions: <%= @membership.role %></li>
  <li>Description: <%= @project.description %></li>
</ul>
<% if @membership.role == 'admin' %>
  <%= button_to "Delete", @project, method: :delete %>
<% end %>
